.dashboard_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-bottom: 30px;
  padding: 0;
  box-shadow: 0px 3px 6px #111;
  background: #373a4b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dashboard_menuIcon {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  background: transparent;
  border-radius: 50px;
}

.dashboard_menuIcon > img {
  width: 40px;
}

.dashboard_menuIcon:hover{
  background: transparent;
}

.dashboard_logo {
  width: 130px;
  margin: 0px auto 0px 0px;
  padding: -15px 0 -100px 0;
}

.dashboard_refrash, .dashboard_logout{
  height: 30px;
  width: 70px;
  border: 0;
  border-bottom: 1px solid #111;
  background: transparent;
  margin: 0 30px 0 0;
}

.dashboard_refrash:hover, .dashboard_logout:hover{
  background: transparent;
  border-bottom: 1px solid #61dbf6b9;
  color: #ddd;
}

.dashboard_addNewCard {
  margin: auto auto 25px auto;
  padding: 5px;
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px solid #494d5f;
  box-shadow: 1px 1px 2px #15161d;
  border-radius: 10px;
  background: #373a4b;
}

.dashboard_addNewCard > label {
  width: 90%;
  height: 100%;
  background: transparent;
  border: transparent;
  font-size: large;
  color: rgba(245, 245, 245, 0.534);
  display: flex;
  align-items: center;
}

.dashboard_addNewCard>label:hover {
  cursor: text;
}

.dashboard_menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.dashboard_menu{
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  width: 300px;
  max-width: 300px;
  min-width: 200px;
  height: auto;
  margin: 0 10px auto 0;
  padding-left: 20px;
  background: rgb(54, 57, 73);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 2px #15161d;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard_mainLabel {
  width: 100%;
  margin: 20px 10px 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #111;
  font-size: large;
}

.dashboard_labels {
  width: 90%;
  margin: 2px 15px 15px -30px;
  padding: 5px;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dashboard_mainLabel:hover, .dashboard_labels:hover {
  cursor: pointer;
  color: #ddd;
}

.dashboard_labelIcon {
  width: 25px;
  margin-right: 15px;
}

.dashboard_cardsContainer {
  width: 85%;
  margin: auto;
}
