.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0;
  box-shadow: 0px 3px 6px #111;
  background: #373a4b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 170px;
  margin: -15px 0 -15px 30px;
  padding: -15px 0 -100px 0;
}

.moreOneCard {
  height: 50px;
  width: 180px;
  margin: 0 30px 0 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
