.dashboard_addNewCard {
  margin: auto auto 25px auto;
  padding: 5px;
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px solid #494d5f;
  box-shadow: 1px 1px 2px #15161d;
  border-radius: 10px;
  background: #373a4b;
}

.dashboard_addNewCard > label {
  width: 90%;
  height: 100%;
  background: transparent;
  border: transparent;
  font-size: large;
  color: rgba(245, 245, 245, 0.534);
  display: flex;
  align-items: center;
}

.dashboard_addNewCard>label:hover {
  cursor: text;
}

.dashboard_dashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
}

.dashboard_cardsContainer {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.dashboard_cardsPinnedLabelContainer, .dashboard_cardsUnpinnedLabelContainer {
  width: 97%;
  margin-top: 20px;
  padding: 0 0 5px 10px;
  border-bottom: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard_cardsPinnedLabelButton, .dashboard_cardsUnpinnedLabelButton {
  width: auto;
  background: transparent;
}

.dashboard_cardsPinnedLabelButton:hover, .dashboard_cardsUnpinnedLabelButton:hover {
  background: transparent;
}

.dashboard_cardPinnedLabelIcon, .dashboard_cardUnpinnedLabelIcon {
  width: 20px;
}
