.card_container {
  height: auto;
  width: 100%;
  max-width: 400px;
  margin: 15px 0px 0px 15px;
  padding: 15px 0px 10px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #15161d;
  background: #373a4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

.card_tasksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card_completedItemsLabelContainer {
  width: 97%;
  margin: 20px auto 10px auto;
  padding: 0 5px 5px 5px;
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_completedItemsLabelButton {
  width: auto;
  background: transparent;
}

.card_completedItemsLabelButton:hover {
  background: transparent;
}

.card_completedItemsLabelButtonIcon {
  width: 15px;
}

