.card {
  height: auto;
  width: 100%;
  max-width: 400px;
  margin: 15px 0px 0px 15px;
  padding: 15px 0px 10px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #15161d;
  background: #373a4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

.title {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px 10px 2px 10px;
  border: 0;
  background: transparent;
  color: #f5f5f5;
  font-size: 20px;
}

.cardLabel {
  width: 60px;
  margin: 20px auto 0 10px;
  padding: 5px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  background: transparent;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 11px
}

.cardLabel:hover {
  background: #282a36;
  cursor: pointer;
}

.task {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #282a36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.taskText {
  height: 30px;
  width: 400px;
  max-width: 100%;
  margin: 5px;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: #f5f5f5;
  background: transparent;
  font-size: 16px;
}

.taskCheck {
  height: 20px;
  width: 20px;
  margin: 0 0 0 25px;
  padding: 0;
}

.moreOneTask {
  height: 15px;
  width: 17px;
  margin: 2px 20px 2px 2px;
  padding: 0;
  border: 1px solid #f5f5f5;
  background: transparent;
  font-size: 12px;
}
