.newCard_cardContainer {
  height: auto;
  width: 100%;
  max-width: 400px;
  margin: 15px 0px 0px 15px;
  padding: 15px 0px 10px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #15161d;
  background: #373a4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

.newCard_container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #282a3683;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newCard_headerContainer {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newCard_title {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px 10px 2px 10px;
  border: 0;
  background: transparent;
  color: #f5f5f5;
  font-size: 20px;
}

.newCard_pinnedCard {
  margin: auto;
  margin-top: -5px;
  padding: auto;
  background: transparent;
  opacity: 0;
}

.newCard_pinnedCard:hover {
  background: transparent;
  opacity: 1;
}

.newCard_pinnedCardIcon {
  width: 23px;
}

.newCard_task {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #282a36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.newCard_taskCheck {
  height: 20px;
  width: 20px;
  margin: 0 0 0 25px;
  padding: 0;
}

.newCard_taskText {
  height: 30px;
  width: 400px;
  max-width: 100%;
  margin: 5px;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: #f5f5f5;
  background: transparent;
  font-size: 16px;
}

.newCard_deleteTask {
  margin: auto 13px auto auto;
  padding: 3px;
  border: 0;
  font-size: large;
  color: rgba(245, 245, 245, 0.534);
  background: transparent;
}

.newCard_deleteTask:hover {
  background: transparent;
  opacity: 0.7;
}

.newCard_footer {
  width: 90%;
  margin: 20px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newCard_labelContainer {
  min-width: 30px;
  max-width: 200px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px #15161d;
}

.newCard_labelContainer:hover {
  background: #282a36;
  cursor: pointer;
}

.newCard_label {
  width: 97%;
  background: transparent;
  border: 0;
  color: #f5f5f5;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}

.newCard_createCardButton {
  width: auto;
  height: auto;
  margin-right: 9px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #15161d;
  background: transparent;
  font-size: 13px;
  font-weight: normal;
}

.newCard_createCardButton:hover {
  background: transparent;
  box-shadow: 2px 2px 3px #15161d;
  font-size: 14px;
  padding-bottom: 4px;
}

.newCard_createCardButton:active {
  background: transparent;
  box-shadow: 1px 1px 3px #15161d;
  font-size: 13px;
  padding-bottom: 5px;
}
