* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #282a36;
}

body, input, button {
  font-family: monospace, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  border: 0;
  border-radius: 2px;
  background: #008ABC;
  color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: #61dbf6b9;
}
