.backgroundForte {
  color: #282a36;
}

.backgroundFraco {
  color: #373a4b;
}

.fontsColors {
  color: #f5f5f5;
}

.buttonsNormal {
  color: #008ABC;
}

.buttonsMouse {
  color: #61dbf6b9;
}

.shadows {
  box-shadow: #15161d;
}

.border {
  color: #282a36;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
}

a:link {
  color: #ff79c6;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ff79c6;
}

.property {
  font-weight: bold;
  color: #8be9fd;
}

.type-null {
  color: #bd93f9;
}

.type-boolean {
  color: #bd93f9;
}

.type-number {
  color: #bd93f9;
}

.type-string {
  color: #f1fa8c;
}

.callback-function {
  color: gray;
}

.collapser:after {
  content: "-";
}

.collapsed > .collapser:after {
  content: "+";
}

.ellipsis:after {
  content: " … ";
}

.collapsible {
  margin-left: 2em;
}

.hoverable {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.hovered {
  background-color: #44475a;
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
}
